body {
    background-color: #914749;
    font: normal 15pt Arial;
}

header {
    color: #458c7e;
    text-align: center;
}

section {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #704f52;
}

footer {
    color: #458c7e;
    text-align: center;
    font-style: italic;
}

#imagem {
    width: 80%;
    border-radius: 60%;
}

div {
    text-align: center;
    padding: 8px;
}

#selTabuada {
    text-align: center;
}

#flista {
    width: 150px;
}

#botao {
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background-color: #ccbebf;
    color: #ffffff;
    font: normal 12pt Arial;
}